@font-face {
    font-family: "wrapped-icons";
    src: url("./fonts/wrapped-icons.woff?dfb1a64e1c955496e212173b9d290fe6") format("woff"),
url("./fonts/wrapped-icons.woff2?dfb1a64e1c955496e212173b9d290fe6") format("woff2");
    font-display: swap;
}


[class^="w-"]::before,
[class*="w-"]::before {
    display: inline-block;
    font-family: wrapped-icons !important;
    font-style: normal;
    font-display: swap;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.w-clipboard::before { content: "\f101"; }
.w-cog::before { content: "\f102"; }
.w-th-large::before { content: "\f103"; }
